<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338271900868-skb4kaadg415pj79babr2i7p70aosq23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338271900868-skb4kaadg415pj79babr2i7p70aosq23</string>
	<key>API_KEY</key>
	<string>AIzaSyAgwsCufUX28dogT-WYxtd4SFgG1F07j2c</string>
	<key>GCM_SENDER_ID</key>
	<string>338271900868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soaresgus.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-4912d</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-4912d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338271900868:ios:a19be778356743d72fe591</string>
</dict>
</plist>